
<nav class="navbar navbar-light" text-center style="background-color: yellowgreen">
    
    <a class='navbar-brand'></a>
    <ul class='nav nav-pills'>
  <li>  <a class='nav-link'   routerLink="/home" routerLinkActive="active">Home</a></li>


  <li>  <a   class='nav-link' routerLink="/education" routerLinkActive="active">Education</a></li>
   
  <li>  <a   class='nav-link' routerLink="/exp" routerLinkActive="active">Experience</a></li>
   
   <li><a   class='nav-link' routerLink="/project" routerLinkActive="active">Projects</a></li>
    
  <li><a class='nav-link'  routerLink="/skill" routerLinkActive="active">Skills</a></li>
   
  <li><a class='nav-link' routerLink="/contact" routerLinkActive="active">Contact</a></li>
  
    </ul>
  
   
  
  </nav>
  