<br>

<div class="container bg-info text-white" >
    <br>
    <img  class='center-block img-responsive'
                 [style.width.px]='200'
                 [style.margin.px]='2'
    
    
    
    src="assets\Images\rohan2.jpg">
    <h3>Hello I Am</h3>
   <h1 class="display1">Rohan Majumder</h1>
   <p>It is never done until it is fast,responsive, and correct.But if you cant be fast,at least be responsive.
       If you still cant be responsive,at least be correct!Designing a website is not a thing you do.Its a way of life.

                                                                                                                           
   </p>
   <br>
   </div>